doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | About Us - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
                  ul.dropdown-menu.row
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products Grid View
                        li
                          a[href="product_grid_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-grid-right-sidebar.html"]
                            | Products Sidebar Right
                        li
                          a[href="product-grid-3-col-filter.html"]
                            | Products 3 Columns V1
                        li
                          a[href="product-grid-3-col.html"]
                            | Products 3 Columns V2
                        li
                          a[href="product-grid-4-col.html"]
                            | Products 4 Columns
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products List View
                        li
                          a[href="product_list_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-list-right-sidebar.html"]
                            | Products Sidebar Right
                        li.listHeading
                          | Others
                        li
                          a[href="single_product.html"]
                            | Single Product
                        li
                          a[href="cart_page.html"]
                            | Cart Page
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Checkout
                        li
                          a[href="checkout_step_1.html"]
                            | Step 1 - Address
                        li
                          a[href="checkout_step_2.html"]
                            | Step 2 - Shipping
                        li
                          a[href="checkout_step_3.html"]
                            | Step 3 - Payment
                        li
                          a[href="checkout_step_4.html"]
                            | Step 4 - Payment
                        li
                          a[href="checkout_complete.html"]
                            | Order Complete
                    li.col-sm-3.col-xs-12
                      a.menu-photo[href="#"]
                        = image_tag("img/menu-photo.jpg", :alt => "menu-img")
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | About Us
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li.active
                  | About Us
      section.mainContent.clearfix.aboutUsInfo
        .container
          .row
            .col-xs-12
              .page-header
                h3
                  | Suspendisse suscipit vestibulum dignissim
            .col-sm-6.col-sm-push-6.col-xs-12
              = image_tag("img/about-us/title-img.jpg", :alt => "about-us-img")
            .col-sm-6.col-sm-pull-6.col-xs-12
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              p
                | Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper. Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus. Etiam aliquam turpis quis blandit finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor placerat lectus, facilisis ornare leo tincidunt vel. Duis rutrum felis felis, eget malesuada massa tincidunt a.
              ul.list-unstyled
                li
                  | Neque porro quisquam est,
                li
                  | qui dolorem ipsum quia dolor sit amet, 
                li
                  | consectetur, adipisci velit, sed quia
                li
                  | non numquam eius modi tempora incidunt 
                li
                  | ut labore et dolore magnam aliquam
      section.darkSection.clearfix
        .container
          .row
            .col-xs-12
              h3
                | Our Store Locations
            .col-md-3.col-sm-6.col-xs-12
              .thumbnail
                .caption
                  h5
                    | New York
                  address
                    |  Krakovská 1307/22, 110 00 N,Y 
                    br
                    |  Vězeňská 910/2, 110 00 N,Y-Staré 
                    br
                    |  Město Na Hřebenkách 2, 150 00 
                    br
                    |  N,Y 
            .col-md-3.col-sm-6.col-xs-12
              .thumbnail
                .caption
                  h5
                    | Paris
                  address
                    |  Bebelpl. 1, 10117 Paris 
                    br
                    |  Jablonskistraße 16, 10405 Paris 
                    br
                    |  Rigaer Str. 9, 10247 Paris 
            .col-md-3.col-sm-6.col-xs-12
              .thumbnail
                .caption
                  h5
                    | New York
                  address
                    |  Krakovská 1307/22, 110 00 N,Y 
                    br
                    |  Vězeňská 910/2, 110 00 N,Y-Staré 
                    br
                    |  Město Na Hřebenkách 2, 150 00 
                    br
                    |  N,Y 
            .col-md-3.col-sm-6.col-xs-12
              .thumbnail
                .caption
                  h5
                    | Paris
                  address
                    |  Bebelpl. 1, 10117 Paris 
                    br
                    |  Jablonskistraße 16, 10405 Paris 
                    br
                    |  Rigaer Str. 9, 10247 Paris 
            .col-xs-12
              button.btn.btn-default[type="button"]
                | Check more
      section.whiteSection.clearfix.aboutPeople
        .container
          .row
            .col-xs-12
              h3
                | Our Peoples
            .col-sm-3.col-xs-12
              .thumbnail
                = image_tag("img/about-us/people-01.jpg", :alt => "people-image")
                .caption
                  h5
                    | ADAM SMITH
                  p
                    | (CEO)
            .col-sm-3.col-xs-12
              .thumbnail
                = image_tag("img/about-us/people-02.jpg", :alt => "people-image")
                .caption
                  h5
                    | JENNIFER
                  p
                    | (CTO)
            .col-sm-3.col-xs-12
              .thumbnail
                = image_tag("img/about-us/people-03.jpg", :alt => "people-image")
                .caption
                  h5
                    | ANDREW HAIGE
                  p
                    | (Marketing Director)
            .col-sm-3.col-xs-12
              .thumbnail
                = image_tag("img/about-us/people-04.jpg", :alt => "people-image")
                .caption
                  h5
                    | ANDY BLAKLY
                  p
                    | (Creative Director)
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
