doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Cart Page - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li
                    span
                      a[data-toggle="modal" href="#login"]
                        | Log in
                      small
                        | or
                      a[data-toggle="modal" href="#signup"]
                        | Create an account
                  li.dropdown.searchBox
                    a.dropdown-toggle[href="#" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right
                      li
                        span.input-group
                          input.form-control[type="text" placeholder="Search…" aria-describedby="basic-addon2"]
                          span#basic-addon2.input-group-addon
                            | Search
                  li.dropdown
                    a.dropdown-toggle[href="#" data-toggle="dropdown"]
                      i.fa.fa-shopping-cart
                    ul.dropdown-menu.dropdown-menu-right
                      li
                        | Item(s) in your cart
                      li
                        a[href="#"]

                        .media
                          = image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image")
                          .media-body
                            h5.media-heading
                              | INCIDIDUNT UT 
                              br
                              span
                                | 2 X $199
                      li
                        a[href="#"]

                        .media
                          = image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image")
                          .media-body
                            h5.media-heading
                              | INCIDIDUNT UT 
                              br
                              span
                                | 2 X $199
                      li
                        .btn-group[role="group" aria-label="..."]
                          button.btn.btn-default[type="button"]
                            | Shopping Cart
                          button.btn.btn-default[type="button"]
                            | Checkout
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu.active
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
      section.lightSection.clearfix.pageHeaderImage
        .container
          .tableBlock
            .row.tableInner
              .col-xs-12
                .page-title
                  h2
                    | cart
                  ol.breadcrumb
                    li
                      a[href="index.html"]
                        | Home
                    li.active
                      | cart
      section.mainContent.clearfix.cartListWrapper
        .container
          .row
            .col-xs-12
              .cartListInner
                form[action="#"]
                  .table-responsive
                    table.table
                      thead
                        tr
                          th
                          th
                            | 商品名
                          th
                            | 価格
                          th
                            | 数
                          th
                            | 小計
                      tbody
                        tr
                          td.col-xs-2
                            button.close[type="button" data-dismiss="alert" aria-label="Close"]
                              span[aria-hidden="true"]
                                | ×
                            span.cartImage
                              = image_tag("img/products/cart-image.jpg", :alt => "image")
                          td.col-xs-4
                            | Italian Winter Hat
                          td.col-xs-2
                            | 99円
                          td.col-xs-2
                            input[type="text" placeholder="1"]
                          td.col-xs-2
                            | 99円
                        tr
                          td.col-xs-2
                            button.close[type="button" data-dismiss="alert" aria-label="Close"]
                              span[aria-hidden="true"]
                                | ×
                            span.cartImage
                              = image_tag("img/products/cart-image.jpg", :alt => "image")
                          td.col-xs-4
                            | Italian Winter Hat
                          td.col-xs-2
                            | 99円
                          td.col-xs-2
                            input[type="text" placeholder="1"]
                          td.col-xs-2
                            | 99円
                        tr
                          td.col-xs-2
                            button.close[type="button" data-dismiss="alert" aria-label="Close"]
                              span[aria-hidden="true"]
                                | ×
                            span.cartImage
                              = image_tag("img/products/cart-image.jpg", :alt => "image")
                          td.col-xs-4
                            | Italian Winter Hat
                          td.col-xs-2
                            | 99円
                          td.col-xs-2
                            input[type="text" placeholder="1"]
                          td.col-xs-2
                            | 99円
                  .updateArea
                    a.btn[href="#"]
                      | アップデート
                  .totalAmountArea
                    .col-sm-4.col-sm-offset-8.col-xs-12
                      ul.list-unstyled
                        li
                          | 小計 
                          span
                            | 792円
                        li
                          | 消費税 
                          span
                            | 18円
                        li
                          | 総計 
                          span.grandTotal
                            | 810円
                  .checkBtnArea
                    a.btn.btn-primary.btn-block[href="checkout_step_1.html"]
                      | 購入する
                      i.fa.fa-arrow-circle-right[aria-hidden="true"]
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
