doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Step # 03 - BIGBAG Store
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="javascript:void(0)"]
                = image_tag("logo.png")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu
                  a.dropdown-toggle[href="product-grid-left-sidebar.html"]
                    | Shop
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | お支払い方法
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li.active
                  | お支払い方法
      section.mainContent.clearfix.stepsWrapper
        .container
          .row
            .col-xs-12
              .innerWrapper.clearfix.stepsPage
                .row.progress-wizard[style="border-bottom:0;"]
                  .col-xs-4.progress-wizard-step.complete.fullBar
                    .text-center.progress-wizard-stepnum
                      | お届け先情報
                    .progress
                      .progress-bar
                    i.progress-wizard-dot
                  .col-xs-4.progress-wizard-step.active
                    .text-center.progress-wizard-stepnum
                      | お支払い方法
                    .progress
                      .progress-bar
                    i.progress-wizard-dot
                  .col-xs-4.progress-wizard-step.disabled
                    .text-center.progress-wizard-stepnum
                      | 入力内容確認
                    .progress
                      .progress-bar
                    i.progress-wizard-dot
                form.row[action="" method="POST" role="form"]
                  .col-xs-12
                    .page-header
                      h4
                        | お支払い方法
                  .form-group.col-sm-4.col-xs-12
                    label[for="checkout-creditcard-code"]
                      | カード番号
                    input#checkout-card-number.form-control[type="password"]
                  .form-group.col-sm-4.col-xs-12
                    label[for=""]
                      | 有効期限
                    .row
                      .col-xs-6
                        span.step-drop
                          select#checkout-card-expiration-month.select-drop[name="checkout-card-expiration-month"]
                            option[value="1"]
                              | 01
                            option[value="2"]
                              | 02
                            option[value="3"]
                              | 03
                            option[value="4"]
                              | 04
                            option[value="5"]
                              | 05
                            option[value="6"]
                              | 06
                            option[value="7"]
                              | 07
                            option[value="8"]
                              | 08
                            option[value="9"]
                              | 09
                            option[value="10"]
                              | 10
                            option[value="11"]
                              | 11
                            option[value="12"]
                              | 12
                      .col-xs-6
                        span.step-drop
                          select#checkout-card-expiration-year.select-drop[name="checkout-card-expiration-year"]
                            option[value="0"]
                              | 2016
                            option[value="1"]
                              | 2017
                            option[value="2"]
                              | 2018
                            option[value="3"]
                              | 2019
                            option[value="4"]
                              | 2020
                            option[value="5"]
                              | 2021
                            option[value="6"]
                              | 2022
                            option[value="7"]
                              | 2023
                            option[value="8"]
                              | 2024
                  .form-group.col-sm-4.col-xs-12
                    label[for="checkout-card-name"]
                      | カード名義人
                    input#checkout-card-name.form-control[type="text"]
                  .col-xs-12
                    .well.well-lg.clearfix
                      ul.pager
                        li.previous
                          a[href="checkout_step_1.html"]
                            | 戻る
                        li.next
                          a[href="checkout_step_3.html"]
                            | 次へ
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
