- provide(:title, 'index')
.bannercontainer
  .fullscreenbanner-container
    .fullscreenbanner
      ul
        li
          = image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"})
section.mainContent.clearfix
  .container
    .row.featuredCollection
      .col-xs-12
        .page-header
          h4
            | 人気カテゴリー
      .col-sm-4.col-xs-12
        .thumbnail[onclick="location.href='single_product.html';"]
          .imageWrapper
            = image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image")
            .masking
              a.btn.viewBtn[href="product_grid_left_sidebar.html"]
                | View Shirts
          .caption
            h4
              | Shirts
      .col-sm-4.col-xs-12
        .thumbnail[onclick="location.href='single_product.html';"]
          .imageWrapper
            = image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image")
            .masking
              a.btn.viewBtn[href="product_grid_left_sidebar.html"]
                | View Bags
          .caption
            h4
              | Bags
      .col-sm-4.col-xs-12
        .thumbnail[onclick="location.href='single_product.html';"]
          .imageWrapper
            = image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image")
            .masking
              a.btn.viewBtn[href="product_grid_left_sidebar.html"]
                | View Denim
          .caption
            h4
              | Denim
    .row.featuredProducts
      .col-xs-12
        .page-header
          h4
            | 新着商品
      .col-xs-12
        .owl-carousel.featuredProductsSlider
          .slide
            .productImage.clearfix
              = image_tag("home/featured-product/product-01.jpg", :alt => "featured-product-img")
            .productCaption.clearfix
              a[href="single_product.html"]

              h5
                | Mauris efficitur
              h3
                | 199円
          .slide
            .productImage
              = image_tag("home/featured-product/product-02.jpg", :alt => "featured-product-img")
            .productCaption
              a[href="single_product.html"]

              h5
                | Nulla facilisi
              h3
                | 149円
          .slide
            .productImage
              = image_tag("home/featured-product/product-03.jpg", :alt => "featured-product-img")
            .productCaption
              a[href="single_product.html"]

              h5
                | Praesent dui felis
              h3
                | 79円
          .slide
            .productImage
              = image_tag("home/featured-product/product-04.jpg", :alt => "featured-product-img")
            .productCaption
              a[href="single_product.html"]

              h5
                | Cras eu faucibus
              h3
                | 109円
          .slide
            .productImage
              = image_tag("home/featured-product/product-05.jpg", :alt => "featured-product-img")
            .productCaption
              a[href="single_product.html"]

              h5
                | Mauris lobortis augue
              h3
                | 199円
          .slide
            .productImage
              = image_tag("home/featured-product/product-06.jpg", :alt => "featured-product-img")
            .productCaption
              a[href="single_product.html"]

              h5
                | Suspendisse suscipit
              h3
                | 149円
          .slide
            .productImage
              = image_tag("home/featured-product/product-07.jpg", :alt => "featured-product-img")
            .productCaption
              a[href="single_product.html"]

              h5
                | Praesent a augue
              h3
                | 79円
          .slide
            .productImage
              = image_tag("home/featured-product/product-09.jpg", :alt => "featured-product-img")
            .productCaption
              a[href="single_product.html"]

              h5
                | Cras vel augue
              h3
                | 109円
= render 'layouts/partners_logo'
= render 'layouts/quick_view_modal'
