doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Privacy Policy - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
                  ul.dropdown-menu.row
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products Grid View
                        li
                          a[href="product_grid_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-grid-right-sidebar.html"]
                            | Products Sidebar Right
                        li
                          a[href="product-grid-3-col-filter.html"]
                            | Products 3 Columns V1
                        li
                          a[href="product-grid-3-col.html"]
                            | Products 3 Columns V2
                        li
                          a[href="product-grid-4-col.html"]
                            | Products 4 Columns
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products List View
                        li
                          a[href="product_list_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-list-right-sidebar.html"]
                            | Products Sidebar Right
                        li.listHeading
                          | Others
                        li
                          a[href="single_product.html"]
                            | Single Product
                        li
                          a[href="cart_page.html"]
                            | Cart Page
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Checkout
                        li
                          a[href="checkout_step_1.html"]
                            | Step 1 - Address
                        li
                          a[href="checkout_step_2.html"]
                            | Step 2 - Shipping
                        li
                          a[href="checkout_step_3.html"]
                            | Step 3 - Payment
                        li
                          a[href="checkout_step_4.html"]
                            | Step 4 - Payment
                        li
                          a[href="checkout_complete.html"]
                            | Order Complete
                    li.col-sm-3.col-xs-12
                      a.menu-photo[href="#"]
                        = image_tag("img/menu-photo.jpg", :alt => "menu-img")
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | privacy policy
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li.active
                  | privacy policy
      section.mainContent.clearfix.genricContent
        .container
          .row
            .col-xs-12
              h3
                | プライバシーポリシー
              p
                | 株式会社 xxx（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
              h5
                | 個人情報の管理
              p
                | 当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
              h5
                | 個人情報の利用目的
              p
                | お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
              h5
                | 個人情報の第三者への開示・提供の禁止
              p
                | 当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
                br
                br
                |  ・お客さまの同意がある場合
                br
                |  ・お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
                br
                |  ・法令に基づき開示することが必要である場合
              h5
                | 個人情報の安全対策
              p
                | 当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
              h5
                | ご本人の照会
              p
                | お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
              h5
                | 法令、規範の遵守と見直し
              p
                | 当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
              h5
                | お問い合せ
              p
                | 当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。
                br
                |  株式会社 xxx 
                br
                |  〒xxx-xxxx　xx県xx市xx町x-x-x 
                br
                |  TEL:XXX-XXX-XXXX FAX:XXX-XXX-XXXX 
                br
                |  Mail:info@example.co.jp 
                br
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
