doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Product List Sidebar Left - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu.active
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
                  ul.dropdown-menu.row
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products Grid View
                        li
                          a[href="product_grid_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-grid-right-sidebar.html"]
                            | Products Sidebar Right
                        li
                          a[href="product-grid-3-col-filter.html"]
                            | Products 3 Columns V1
                        li
                          a[href="product-grid-3-col.html"]
                            | Products 3 Columns V2
                        li
                          a[href="product-grid-4-col.html"]
                            | Products 4 Columns
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products List View
                        li.active
                          a[href="product_list_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-list-right-sidebar.html"]
                            | Products Sidebar Right
                        li.listHeading
                          | Others
                        li
                          a[href="single_product.html"]
                            | Single Product
                        li
                          a[href="cart_page.html"]
                            | Cart Page
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Checkout
                        li
                          a[href="checkout_step_1.html"]
                            | Step 1 - Address
                        li
                          a[href="checkout_step_2.html"]
                            | Step 2 - Shipping
                        li
                          a[href="checkout_step_3.html"]
                            | Step 3 - Payment
                        li
                          a[href="checkout_step_4.html"]
                            | Step 4 - Payment
                        li
                          a[href="checkout_complete.html"]
                            | Order Complete
                    li.col-sm-3.col-xs-12
                      a.menu-photo[href="#"]
                        = image_tag("img/menu-photo.jpg", :alt => "menu-img")
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | Product List View
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li
                  a[href="#"]
                    | shop
                li.active
                  | Product List Left Sidebar
      section.mainContent.clearfix.productsContent
        .container
          .row
            .col-md-3.col-sm-4.col-xs-12.sideBar
              .panel.panel-default
                .panel-heading
                  | Product categories
                .panel-body
                  .collapse.navbar-collapse.navbar-ex1-collapse.navbar-side-collapse
                    ul.nav.navbar-nav.side-nav
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#women"]
                          | Women 
                          i.fa.fa-plus
                        ul#women.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Accessories 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bag 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Cloths 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bed & Bath 
                              span
                                | (2)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Swimming costume 
                              span
                                | (5)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Sport Tops & Shoes 
                              span
                                | (3)
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#men"]
                          | Men 
                          i.fa.fa-plus
                        ul#men.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Accessories 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bag 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Cloths 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bed & Bath 
                              span
                                | (2)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Swimming costume 
                              span
                                | (5)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Sport Tops & Shoes 
                              span
                                | (3)
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#kids"]
                          | Kids 
                          i.fa.fa-plus
                        ul#kids.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Accessories 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bag 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Cloths 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bed & Bath 
                              span
                                | (2)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Swimming costume 
                              span
                                | (5)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Sport Tops & Shoes 
                              span
                                | (3)
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#accessories"]
                          | Accessories 
                          i.fa.fa-plus
                        ul#accessories.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Accessories 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bag 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Cloths 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Bed & Bath 
                              span
                                | (2)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Swimming costume 
                              span
                                | (5)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | Sport Tops & Shoes 
                              span
                                | (3)
              .panel.panel-default.filterNormal
                .panel-heading
                  | filter by Color
                .panel-body
                  ul.list-unstyled
                    li
                      a[href="#"]
                        | Black
                        span
                          | (15)
                    li
                      a[href="#"]
                        | White
                        span
                          | (10)
                    li
                      a[href="#"]
                        | Red
                        span
                          | (7)
                    li
                      a[href="#"]
                        | Blue
                        span
                          | (12)
                    li
                      a[href="#"]
                        | Orange
                        span
                          | (12)
              .panel.panel-default.filterNormal
                .panel-heading
                  | filter by Size
                .panel-body
                  ul.list-unstyled.clearfix
                    li
                      a[href="#"]
                        | Small
                        span
                          | (15)
                    li
                      a[href="#"]
                        | Medium
                        span
                          | (10)
                    li
                      a[href="#"]
                        | Large
                        span
                          | (7)
                    li
                      a[href="#"]
                        | Extra Large
                        span
                          | (12)
            .col-md-9.col-sm-8.col-xs-12
              .row.filterArea
                .col-xs-6
                  select#guiest_id1.select-drop[name="guiest_id1"]
                    option[value="0"]
                      | Default sorting
                    option[value="1"]
                      | Sort by popularity
                    option[value="2"]
                      | Sort by rating
                    option[value="3"]
                      | Sort by newness
                    option[value="3"]
                      | Sort by price
                .col-xs-6
                  .btn-group.pull-right[role="group"]
                    button.btn.btn-default[type="button" onclick="window.location.href='product_grid_left_sidebar.html'"]
                      i.fa.fa-th[aria-hidden="true"]
                      span
                        | Grid
                    button.btn.btn-default.active[type="button" onclick="window.location.href='product_list_left_sidebar.html'"]
                      i.fa.fa-th-list[aria-hidden="true"]
                      span
                        | List
              .row.productListSingle
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-01.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-02.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-03.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-04.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-05.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-06.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-07.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
                .col-xs-12
                  .media
                    .media-left
                      = image_tag("img/products/products-08.jpg", :class => "media-object", :alt => "Image")
                      span.maskingImage
                        a.btn.viewBtn[data-toggle="modal" href=".quick-view"]
                          | Quick View
                    .media-body
                      h4.media-heading
                        a[href="single-product.html"]
                          | Dip Dyed Sweater
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      h3
                        | $249
      section.lightSection.clearfix
        .container
          .row
            .col-xs-12
              .owl-carousel.partnersLogoSlider
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-01.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-02.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-03.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-04.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-05.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-01.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-02.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-03.png", :alt => "partner-img")
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
