section.lightSection.clearfix.pageHeaderImage
  .container
    .tableBlock
      .row.tableInner
        .col-xs-12
          .page-title
            h2
              | cart
            ol.breadcrumb
              li
                = link_to 'Home', potepan_path
              li.active
                = link_to 'Cart', potepan_orders_path
