= link_to potepan_order_path(order: { line_items_attributes: [id: line_item.id], }, number: order.number, id: order.id, calculation: 'minus'), method: :put, remote: true do
  span.quantity-minus-child-dropdown
    | -
