= link_to potepan_order_path(id: line_item.id), method: :delete, remote: true, data: { confirm: "「#{line_item.variant.product.name}」 を削除します。よろしいですか？" } do
  span.quantity-minus-child-dropdown
    | -
