| document.querySelector("#line-item-#{@line_item.id}").style.display = 'none';
| document.querySelector("#dropdown-line-item-#{@line_item.id}").style.display = 'none';
| $(".cart-heading-1").html("#{@order.line_items.uniq.pluck(:quantity).sum}");
| $(".cart-heading-2").html("#{@order_price_total}円");
| $(".title-line-items").html("#{@item_or_items} in your cart");
| if (#{@order.line_items.blank?}) {
| $(".dropdownCart").html("#{escape_javascript(render('layouts/no_dropdown_cart_icon'))}");
| }
| $(".subtotal").html("#{@order.display_item_total}");
| $(".consumption-tax").html("#{@consumption_tax_total}円");
| $(".shipping-cost").html("#{@shipment_cost_total}円");
| $(".grandTotal").html("#{@order_price_total}円");
