= render 'potepan/orders/light_section_in_orders'
section.mainContent.clearfix.cartListWrapper
  .container
    .row
      .col-xs-12
        .cartListInner
          .table-responsive
            table.table
              thead
                tr
                  th
                  th
                    | 商品名
                  th
                    | 価格
                  th
                    | 数
                  th
                    | 小計
              tbody
                - @line_items.each do |line_item|
                  tr id="line-item-#{line_item.id}"
                    td.col-xs-2
                      = link_to potepan_order_path(id: line_item.id), method: :delete, remote: true, data: { confirm: "「#{line_item.variant.product.name}」 を削除します。よろしいですか？" }, class: "close"  do
                        span[aria-hidden="true"]
                          | &times;
                      span.cartImage.slowly-transparent
                        = link_to image_tag(line_item.variant.display_image.attachment(:small), alt: 'cart-image'), potepan_product_path(id: line_item.variant.product.id)
                    td.col-xs-4
                      = link_to line_item.name, potepan_product_path(id: line_item.variant.product.id), class: 'line-item-name'
                    td.col-xs-2
                      = line_item.display_price
                    td.col-xs-2
                      .line-item-quantity
                        span.quantity-minus id="quantity-minus-#{line_item.id}"
                          - if line_item.quantity == 1
                            = link_to potepan_order_path(id: line_item.id), method: :delete, remote: true, data: { confirm: "「#{line_item.variant.product.name}」 を削除します。よろしいですか？" } do
                              span.quantity-minus-child
                                | -
                          - else
                            = link_to potepan_order_path(order: { line_items_attributes: [id: line_item.id] }, number: @order.number, id: @order.id, calculation: 'minus'), method: :put, remote: true do
                              span.quantity-minus-child
                                | -
                        span.quantity-display
                          span.quantity-display-child id="quantity-#{line_item.id}"
                            = line_item.quantity
                        span.quantity-plus
                          = link_to potepan_order_path(order: { line_items_attributes: [id: line_item.id] }, number: @order.number, id: @order.id, calculation: 'plus'), method: :put, remote: true do
                            span.quantity-plus-child
                              | +
                    td.col-xs-2 id="line-item-total-#{line_item.id}"
                      = line_item.display_amount
          .totalAmountArea
            .col-sm-4.col-sm-offset-8.col-xs-12
              ul.list-unstyled
                li
                  | 小計
                  span.subtotal
                    = @order.display_item_total
                li
                  | 消費税
                  span.consumption-tax
                    = "#{@consumption_tax_total}円"
                li
                  | 送料
                  span.shipping-cost
                    = "#{@shipment_cost_total}円"
                li
                  | 総計
                  span.grandTotal
                    = "#{@order_price_total}円"
          .checkBtnArea
            a.btn.btn-primary.btn-block[href="javascript:void(0)"]
              | 購入する
              i.fa.fa-arrow-circle-right[aria-hidden="true"]
