| $(".cart-heading-1").html("#{@order.line_items.uniq.pluck(:quantity).sum}");
| $(".cart-heading-2").html("#{@order_price_total}円");
| $(".title-line-items").html("#{@item_or_items} in your cart");
| $("#quantity-dropdown-#{@line_item_id}").html("#{@line_item_quantity_updated}");
| if (#{@line_item_quantity_updated == 1}) {
| $("#quantity-minus-dropdown-#{@line_item_id}").html("#{escape_javascript(render('potepan/orders/quantity_minus_dropdown_delete', line_item_id: @line_item_id, line_item: @line_item))}");
| $("#quantity-minus-#{@line_item_id}").html("#{escape_javascript(render('potepan/orders/quantity_delete', line_item_id: @line_item_id, line_item: @line_item))}");
| } else if (#{@line_item_quantity_updated == 2}) {
| $("#quantity-minus-dropdown-#{@line_item_id}").html("#{escape_javascript(render('potepan/orders/quantity_minus_dropdown_update', line_item: @line_item, order: @order))}");
| $("#quantity-minus-#{@line_item_id}").html("#{escape_javascript(render('potepan/orders/quantity_update', line_item: @line_item, order: @order))}");
| }
| $("#quantity-#{@line_item_id}").html("#{@line_item_quantity_updated}");
| $("#line-item-total-#{@line_item_id}").html("#{@line_item.display_amount}");

| $(".subtotal").html("#{@order.display_item_total}");
| $(".consumption-tax").html("#{@consumption_tax_total}円");
| $(".shipping-cost").html("#{@shipment_cost_total}円");
| $(".grandTotal").html("#{@order_price_total}円");
