.col-xs-6.displayStyle
  - if session[:display_style] == 'list'
    .btn-group.pull-right[role="group"]
      = button_to potepan_categories_grid_path, method: :get, remote: true, class: 'btn btn-default', id: 'btnGrid', type: 'button' do
        i.fa.fa-th[aria-hidden="true"]
        span
          | Grid
      = button_to potepan_categories_list_path, method: :get, remote: true, class: 'btn btn-default active', id: 'btnList', type: 'button' do
        i.fa.fa-th[aria-hidden="true"]
        span
         | List
  - else
    .btn-group.pull-right[role="group"]
      = button_to potepan_categories_grid_path, method: :get, remote: true, class: 'btn btn-default active', id: 'btnGrid', type: 'button' do
        i.fa.fa-th[aria-hidden="true"]
        span
          | Grid
      = button_to potepan_categories_list_path, method: :get, remote: true, class: 'btn btn-default', id: 'btnList', type: 'button' do
        i.fa.fa-th[aria-hidden="true"]
        span
          | List
