- if session[:display_style] == 'list'
  .col-xs-12
    .media
      .media-left
        = image_tag product.display_image.attachment.url(:large), alt: "Image"
        span.maskingImage
          a.btn.viewBtn[data-toggle="modal" href="#{potepan_product_path(product.id)}"]
            | Quick View
      .media-body
        h4.media-heading
          a[href="#{potepan_product_path(product.id)}"]
            = product.name
        p
          = product.description
        h3
          = product.display_price
- else
  .col-sm-4.col-xs-12
    .productBox
      = link_to potepan_product_path(product.id) do
        .productImage.clearfix
          = image_tag product.display_image.attachment.url(:product), alt: "product_image"
        .productCaption.clearfix
          h5
            = product.name
          h3
            = product.display_price
