- if @taxon.present?
  - provide(:title, @taxon.name)
  = render 'layouts/light_section', taxon: @taxon, product: nil, sort_order: @selected_sort_value, default_search_word: nil, search_word: nil
- elsif @default_search_word.present?
  - provide(:title, @default_search_word)
  = render 'layouts/light_section', taxon: nil, product: nil, sort_order: @selected_sort_value, default_search_word: @default_search_word, search_word: @search_word
- elsif @search_word.present?
  - provide(:title, @search_word)
  = render 'layouts/light_section', taxon: nil, product: nil, sort_order: @selected_sort_value, default_search_word: nil, search_word: @search_word
- else
  - provide(:title, 'SHOP')
  = render 'layouts/light_section', taxon: nil, product: nil, sort_order: @selected_sort_value, default_search_word: nil, search_word: nil
.section.mainContent.clearfix.productsContent
  .container
    .row
      .col-md-3.col-sm-4.col-xs-12.sideBar
        .panel.panel-default
          .panel-heading
            | 商品カテゴリー
          .panel-body
            .collapse.navbar-collapse.navbar-ex1-collapse.navbar-side-collapse
              ul.nav.navbar-nav.side-nav
                - @taxonomies.each do |taxonomy|
                  li
                    = link_to "javascript:;", data: {toggle: "collapse", target: "##{taxonomy.id}"} do
                      = taxonomy.name
                      i.fa.fa-plus
                    ul.collapse.collapseItem id=(taxonomy.id)
                      - taxonomy.list_children&.each do |child|
                        li
                          - if child.leaf?
                            = link_to potepan_category_path(child.id, sort_order: @selected_sort_value) do
                              = child.name
                              span
                                = " (#{child.products.size})"
                          - else
                            = link_to "javascript:;", data: {toggle: "collapse", target: "##{child.id}"}, class: "side-nav-child" do
                              i.fa.fa-caret-right[aria-hidden="true"]
                              = child.name
                              span
                                = " (#{child.children.map(&:products).flatten.size})"
                            ul.collapse.collapseItem id=(child.id)
                              - child.children.each do |grandchild|
                                li
                                  = link_to potepan_category_path(grandchild.id, sort_order: @selected_sort_value) do
                                    = grandchild.name
                                    span
                                      = " (#{grandchild.products.size})"
        .panel.panel-default.filterNormal.panelColor
          .panel-heading
            | 色から探す
          .panel-body
            ul.list-unstyled
              - @colors.each do |color|
                li
                  - if @taxon.present?
                    = link_to potepan_category_path(params[:id], sort_order: @selected_sort_value, color_name: color.name) do
                      = color.presentation
                      span
                        = " (#{color.counts_products_in_current_taxon(@ids_of_products_in_current_taxon)})"
                  - elsif @search_word.present?
                    = link_to potepan_categories_path(sort_order: @selected_sort_value, color_name: color.name, search_word: @search_word) do
                      = color.presentation
                      span
                        = " (#{color.counts_products_in_current_taxon(@ids_of_products_in_current_taxon)})"
                  - else
                    = link_to potepan_categories_path(sort_order: @selected_sort_value, color_name: color.name) do
                      = color.presentation
                      span
                        = " (#{color.counts_products_in_current_taxon(@ids_of_products_in_current_taxon)})"
        .panel.panel-default.filterNormal.panelSize
          .panel-heading
            | サイズから探す
          .panel-body
            ul.list-unstyled
              - @sizes.each do |size|
                li
                  - if @taxon.present?
                    = link_to potepan_category_path(params[:id], sort_order: @selected_sort_value, size_name: size.name) do
                      = size.presentation
                      span
                        = " (#{size.counts_products_in_current_taxon(@ids_of_products_in_current_taxon)})"
                  - elsif @search_word.present?
                    = link_to potepan_categories_path(sort_order: @selected_sort_value, size_name: size.name, search_word: @search_word) do
                      = size.presentation
                      span
                        = " (#{size.counts_products_in_current_taxon(@ids_of_products_in_current_taxon)})"
                  - else
                    = link_to potepan_categories_path(sort_order: @selected_sort_value, size_name: size.name) do
                      = size.presentation
                      span
                        = " (#{size.counts_products_in_current_taxon(@ids_of_products_in_current_taxon)})"
      .col-md-9.col-sm-8.col-xs-12
        .row.filterArea
          .col-xs-6
            = form_tag(request.path, method: :get, enforce_utf8: false) do
              = hidden_field_tag :search_word, @search_word if @search_word
              = hidden_field_tag :color_name, params[:color_name] if params[:color_name]
              = hidden_field_tag :size_name, params[:size_name] if params[:size_name]
              = select_tag "sort_order", options_for_select(@sort_values, selected: @selected_sort_value), class: 'select-drop', onchange: "this.form.submit()"
          = render 'display_buttons'
          - if session[:display_style] == 'list'
            .row.productListSingle
              = render partial: 'product', collection: @products
          - else
            .row
              = render partial: 'product', collection: @products
          .mb-3
            = paginate @products
            /= page_entries_info @products
= render 'layouts/partners_logo'
