a.left.carousel-control[href=(id) role="button" data-slide="prev"]
  span.glyphicon.glyphicon-chevron-left
a.right.carousel-control[href=(id) role="button" data-slide="next"]
  span.glyphicon.glyphicon-chevron-right
