- provide(:title, 'index')
.bannercontainer
  .fullscreenbanner-container
    .fullscreenbanner
      ul
        li
          = image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"})
section.mainContent.clearfix
  .container
    .row.featuredCollection
      .col-xs-12
        .page-header
          h4
            | 人気カテゴリー
      - @popular_categories.each_with_index do |popular_category, i|
        .col-sm-4.col-xs-12
          .thumbnail[onclick="location.href='#{potepan_category_path(popular_category.id)}';"]
            .imageWrapper
              = image_tag @display_products_in_popular_categories[i].display_image.attachment.url(:large), alt: "feature-collection-image"
              = link_to potepan_category_path(popular_category.id) do
                .masking
                  = link_to "View #{popular_category.name}", potepan_category_path(popular_category.id), class: "btn viewBtn"
            .caption
              = link_to potepan_category_path(popular_category.id) do
                h4
                  = popular_category.name
    .row.featuredProducts
      .col-xs-12
        .page-header
          h4
            | 新着商品
      .col-xs-12
        .owl-carousel.featuredProductsSlider
          - @new_products.each do |new_product|
            .slide
              = link_to potepan_product_path(new_product.id) do
                .productImage.clearfix
                  = image_tag new_product.display_image.attachment.url(:product), alt: "new_product"
                .productCaption.clearfix
                  h5 = new_product.name
                  h3 = new_product.display_price
= render 'layouts/partners_logo'
= render 'layouts/quick_view_modal'
