- provide(:title, @product.name)
= render 'layouts/light_section', taxon: @taxon_id_and_name, product: 'present', sort_order: nil, default_search_word: nil, search_word: nil, order_id: nil
section.mainContent.clearfix
  .container
    .row.singleProduct
      .col-xs-12
        .media
          .media-left.productSlider
            #carousel.carousel.slide[data-ride="carousel"]
              .carousel-inner
                - @images.each_with_index do |image, i|
                  .item class=('active' if i.zero?) data-thumb=(i)
                    = image_tag(image.attachment.url(:large))
              /= render 'carousel_control', id: '#carousel'
            .clearfix
              #thumbcarousel.carousel.slide.multi-carousel[data-ride="carousel"]
                .carousel-inner[role='listbox']
                  - @images.each_with_index do |image, i|
                    .thumb data-target=('#carousel') data-slide-to=(i)
                      = image_tag(image.attachment.url(:small))
                = render 'carousel_control', id: '#thumbcarousel'
          .media-body
            ul.list-inline
              li
                = link_to @referrer do
                  i.fa.fa-reply[aria-hidden="true"]
                  | 一覧ページへ戻る
            h2
              = @product.name
            h3
              = @product.display_price
            p
              = @product.description
            = form_for :order, url: potepan_orders_path do |f|
              - if @product.variants.any?
                span.quick-drop
                  = select_tag :variant_id, options_from_collection_for_select(@product.variants, :id, :options_text), class: 'select-drop'
              - else
                = hidden_field_tag :variant_id, @product.master.id
              span.quick-drop.resizeWidth
                = select_tag :quantity, options_for_select([*1..5]), class: 'select-drop'
              .btn-area
                = button_tag(type: 'submit', class: 'btn btn-primary btn-block') do
                  | カートに入れる
                  i.fa.fa-angle-right[aria-hidden="true"]
    .row.productsContent
      .col-xs-12
        .page-header
          h4
            | 関連商品
      - @related_products.each do |related_product|
        .col-md-3.col-sm-6.col-xs-12
          .productBox
            = link_to potepan_product_path(related_product.id) do
              .productImage.clearfix
                = image_tag related_product.display_image.attachment.url(:product), alt: "related_product"
              .productCaption.clearfix
                h5
                  = related_product.name
                h3
                  = related_product.display_price
