#footer.copyRight.clearfix
  .container
    .row
      .col-sm-7.col-xs-12
        p
          | © 2016-
          = Time.current.year
          |  Copyright Potepan Store .
      .col-sm-5.col-xs-12
        ul.list-inline
          li
            a[href="https://bitbucket.org/7kamaru/potepanec/src/master/" target="_blank"]
              i.fab.fa-bitbucket
          li
            a[href="https://twitter.com/Nakamar84486715" target="_blank"]
              i.fab.fa-twitter
