.header.clearfix
  .topBar
    .container
      .row
        .col-md-6.hidden-sm.hidden-xs
          ul.list-inline
            li
              a[href="https://bitbucket.org/7kamaru/potepanec/src/master/" target="_blank"]
                i.fab.fa-bitbucket
            li
              a[href="https://twitter.com/Nakamar84486715" target="_blank"]
                i.fab.fa-twitter
        .col-md-6.col-xs-12
          ul.list-inline.pull-right
            li.login-or-create-account
            li.dropdown.searchBox
              a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                i.fa.fa-search
              ul.dropdown-menu.dropdown-menu-right
                li.search-area
                  = form_tag potepan_categories_path, id: 'form01', method: :get, enforce_utf8: false, class: 'search-box' do
                    = hidden_field_tag :sort_order, params[:sort_order] if params[:sort_order]
                    = text_field_tag :search_word, '', class: 'search-form', placeholder: 'Search products...', aria_describedy: 'basic-addon2'
                    = submit_tag '検索', class: 'input-group-addon search-button slowly-transparent', id: "basic-addon2"
            li.dropdown.dropdownCart
              - if @line_items.present?
                a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown disabled"]
                  i.fa.fa-shopping-cart
                  span.cart-heading-1
                    = @order.item_count
                  span.cart-heading-2
                    = "#{@order_price_total}円"
                ul.dropdown-menu.dropdown-menu-right
                  li.title-line-items
                    | #{@item_or_items} in your cart
                  li
                    ul.dropdown-line-items
                      - @line_items.each do |line_item|
                        li.dropdown-line-item id="dropdown-line-item-#{line_item.id}"
                          .media-line-item
                            .media-box
                              = link_to image_tag(line_item.variant.display_image.attachment(:small), class: "media-image slowly-transparent", alt: "cart-Image"), potepan_product_path(id: line_item.variant.product.id)
                              span.media-span-delete
                                = link_to "×", potepan_order_path(id: line_item.id), method: :delete, remote: true, data: { confirm: "「#{line_item.variant.product.name}」 を削除します。よろしいですか？" }, class: "media-link-delete"
                              .line-item-quantity-dropdown
                                span.quantity-plus-dropdown
                                  = link_to potepan_order_path(order: { line_items_attributes: [id: line_item.id] }, number: @order.number, id: @order.id, calculation: 'plus'), method: :put, remote: true do
                                    span.quantity-plus-child-dropdown
                                      | +
                                span.quantity-display-dropdown
                                  span.quantity-display-child-dropdown id="quantity-dropdown-#{line_item.id}"
                                    = line_item.quantity
                                span.quantity-minus-dropdown id="quantity-minus-dropdown-#{line_item.id}"
                                  - if line_item.quantity == 1
                                    = link_to potepan_order_path(id: line_item.id), method: :delete, remote: true, data: { confirm: "「#{line_item.variant.product.name}」 を削除します。よろしいですか？" } do
                                      span.quantity-minus-child-dropdown
                                        | -
                                  - else
                                    = link_to potepan_order_path(order: { line_items_attributes: [id: line_item.id], }, number: @order.number, id: @order.id, calculation: 'minus'), method: :put, remote: true do
                                      span.quantity-minus-child-dropdown
                                        | -
                            .media-body-line-item
                              h5.media-heading
                                = link_to line_item.name, potepan_product_path(id: line_item.variant.product.id)
                                br
                                span.media-heading-price
                                  = line_item.display_price
                  li
                    .btn-group[role="group" aria-label="..."]
                      button.btn.btn-default[type="button" onclick="location.href='#{potepan_orders_path}'"]
                        | Shopping Cart
                      button.btn.btn-default[type="button"]
                        | Checkout
              - else
                = render 'layouts/no_dropdown_cart_icon'
  nav.navbar.navbar-main.navbar-default[role="navigation"]
    .container
      .navbar-header
        button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
          span.sr-only
            | Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        = link_to image_tag("img/logo.png", :alt => ""), potepan_path, class: "navbar-brand"
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-right
          li
            = link_to 'Home', potepan_path
          li.dropdown.megaDropMenu
            = link_to 'Shop', potepan_categories_path(sort_order: @selected_sort_value || nil)
