section.lightSection.clearfix.pageHeader
  .container
    .row
      - if product.present?
        .col-xs-6
          .page-title
            h2
              = yield(:title)
        .col-xs-6
          ol.breadcrumb.pull-right
            li
              = link_to 'HOME', potepan_path
            li
              = link_to 'SHOP', potepan_categories_path
            li
              = link_to taxon[1], potepan_category_path(taxon[0])
            li.active
              | 
      - elsif taxon.present?
        .col-xs-6
          .page-title
            h2
              = link_to yield(:title), potepan_category_path(taxon: taxon.id, sort_order: sort_order)
        .col-xs-6
          ol.breadcrumb.pull-right
            li
              = link_to 'HOME', potepan_path
            li
              = link_to 'SHOP', potepan_categories_path(sort_order: sort_order)
            li.active
              | 
      - elsif default_search_word.present?
        .col-xs-6
          .page-title
            h2
              = link_to default_search_word, potepan_categories_path(search_word: search_word, sort_order: sort_order)
        .col-xs-6
          ol.breadcrumb.pull-right
            li
              = link_to 'HOME', potepan_path
            li
              = link_to 'SHOP', potepan_categories_path(sort_order: sort_order)
            li.active
              | 
      - elsif search_word.present?
        .col-xs-6
          .page-title
            h2
              = link_to "\"#{search_word}\"", potepan_categories_path(search_word: search_word, sort_order: sort_order)
        .col-xs-6
          ol.breadcrumb.pull-right
            li
              = link_to 'HOME', potepan_path
            li
              = link_to 'SHOP', potepan_categories_path(sort_order: sort_order)
            li.active
              | 
      - else
        .col-xs-6
          .page-title
            h2
              = link_to yield(:title), potepan_categories_path(sort_order: sort_order)
        .col-xs-6
          ol.breadcrumb.pull-right
            li
              = link_to 'HOME', potepan_path
            li.active
              | 
