#login.modal.fade.login-modal[tabindex="-1" role="dialog"]
  .modal-dialog
    .modal-content
      .modal-header
        button.close[type="button" data-dismiss="modal" aria-hidden="true"]
          | ×
        h3.modal-title
          | log in
      .modal-body
        form[action="#" method="POST" role="form"]
          .form-group
            label[for="login-email"]
              | Enter Email
            input#login-email.form-control[type="email"]
          .form-group
            label[for="login-password"]
              | Password
            input#login-password.form-control[type="password"]
          .checkbox
            label
              input[type="checkbox"]
              |  Remember Me
          button.btn.btn-primary.btn-block[type="submit"]
            | log in
          button.btn.btn-link.btn-block[type="button"]
            | Forgot Password?
