meta[charset="utf-8"]
meta[http-equiv="X-UA-Compatible" content="IE=edge"]
meta[name="viewport" content="width=device-width, initial-scale=1"]
link[href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"]
= csrf_meta_tags
= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', media: 'all'
= javascript_include_tag 'application'
