doctype html
html
  head
    = render 'layouts/rails_default'
    title = full_title(page_title: yield(:title))
  body
    .main-wrapper
      - if params[:sort_order].present?
        = render 'layouts/header', sort_order: params[:sort_order]
      - else
        = render 'layouts/header', sort_order: nil
      - if flash.present?
        = render 'layouts/flash_messages'
      = yield
      = render 'layouts/footer'
    = render 'layouts/login_modal'
    = render 'layouts/signup_modal'
